<div id='counter', class="counter">100</div>
<% form_for @text2speech do |f| %>
	<% field_set_tag nil, :class => 'search' do %>  
		<%= f.text_area :text, :class => 'box', :cols => 40, :rows => 2 %>

		<% content_tag :div do %>
			<%= submit_tag 'say', :id => 'submitButton', :class => 'submitButton' %>
		<% end %>

		<%= f.error_messages :header_message => nil, :message => nil %>		
	<% end %>
<% end %>

<%= javascript_include_tag 'charCounter.js' %>

<% javascript_tag do -%>
	$(document).ready(function(){$('#text2speech_text').charCounter({counterId:"counter", submitButtonId:"submitButton"});
	$('#text2speech_text').focus();}); 
<% end -%>
