<%= javascript_include_tag 'timeline' %>
<table id="timeline" >
	<tr>
		<td>
			<%= render :partial => 'timeline_content' %>
		</td>
	</tr>

	<tr>
		<td>
			<%= render :partial => 'timeline_control' %> 
		</td>
	</tr>
</table>
