<% title "I Just Wanna Say it" %>

<p class="bubble">
	<span class="small">I just wanna say...</span>	
</p>
<div id="player" class="player">
	<div id="text2speech">
		You need to have <%= link_to 'Flash Player', 'http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash' %> installed to display this video
	</div>
</div>

<!-- <div id="sexy-bookmarks-content" class="urlForm">
	<textarea class="link" rows="4" cols="20"><%= share_content @text2speech %></textarea>
</div> -->

<%= render :partial => 'sexybookmarks' %>
	
<% javascript_tag do -%>
	embedSWF("text2speech", "<%= speech_url_for @text2speech %>", "true");
<% end -%>

