body,h1,h2,h3,p,td,quote,small,form,input,ul,li,ol,label{
	margin:0px;
	padding:0px;
	color: #4sd4c4c;
}

body
{
	color: rgb(77, 76, 76);
	font-size: 62.5%;
	font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
	background: url(../images/bg-clouds.png) repeat-x rgb(192, 222, 237);
}

#container 
{ 
	background: url(../images/pingu.png) no-repeat; 
	width: 1000px; 
	height: 610px; 
	margin: 20px 0 0 0; 
	color: #343434; 
}

#container .content .title
{
	vertical-align: top;
	padding: 0 0 0 70px;
}

#container .right
{
	float: right;
	width: 510px;
}

#container .content
{
	width: 100%;
	margin: 0;
}

#container .right .bubble
{
	text-align: center;
	padding: 40px 0 0 55px;
	width: 250px;
}

#container span.big
{
	font-size: 64px;
	color: #294053;
	font-weight: normal;
}

span.small
{
	font-size: 25px;
	color: #4sd4c4c;
	font-weight: normal;
}

#container p.title 
{ 
	font-size: 28px; 
	margin: 160px 0 0 0;  
	padding: 0;
}


#container p 
{ 
	font-size: 14px; 
	margin: 0;  
	padding: 20px 0 0 0;
}

## #container #new_speech { margin:5px 0 0 0; padding: 0; background: transparent url(../images/search.png) no-repeat;}

#container fieldset.search {

	border: none;
	width: 330px;
	padding: 70px 0 0 10px;
}

#container .search textarea, .search div {

	border: none;
	background-color: transparent;
	width: 330px;

}

#container .search textarea.box {

	color: #99adb4;
	height: 105px;
	overflow: hidden;
	resize: none;
	boarder: none;
	/*	font-size: 25px;*/
	color: #294053;
	font-weight: normal;
	/*	font-family: Comic Sans MS, Arial, Helvetica, sans-serif;*/

	font-family:'Lucida Grande',sans-serif;
	/*	overflow:auto;*/
	font-size:14px;

}

#container .search input.box:focus {

}

#container .search div {
	margin: 70px 0 0 0; 
}

#container .search div.fieldWithErrors {
	margin: 0; 
}


#container .search input.submit {

	float: right;
	padding: 0 0 0 80px;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	border: none;
	background: transparent url(../images/next.png) no-repeat;
}

.counter{
	color:#CCCCCC;
	float:right;
	font-family:Georgia,serif;
	font-size:32px;
	font-weight:bold;
	height:40px;
	overflow:hidden;
	padding: 0 110px 0 0;
}

#counter.error {color:#D40D12;}

#counter.warning {color:#5C0002;}

.submitButton{
	color:#666666;
	font-size:14px;
	height:32px;
	width:115px;

	-moz-border-radius:6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius:6px;

	border:1px solid #cccccc;
	background:url(../images/button_bg.gif) repeat-x #f5f5f5;

	cursor:pointer;
	float:right;
}

.submitButton:disabled, .submitButton:disabled:hover{
	background:#f5f5f5;
	border:1px solid #eeeeee;
	color:#aaaaaa;
	cursor:auto;
}

.submitButton:hover{
	background-position:bottom;
	border-color:#dddddd;
	color:#333333;
}

#container .search input.submit:hover {

}

#container .player {
	margin: 45px 0 0 30px;
	background-color: transparent;
}

#container .urlForm {
	padding: 130px 0 0 30px;
}

#container .urlForm .link{
	width: 295px;
}

#errorExplanation {
	padding: 10px 0 0 30px;
	font-size: 10px;
	color: #CF0000;;
}

#container div.recentSpeeches {
	width: 330px;
}

#container span.speech_text{
	font-size: 12px;
}

table.main {
	width: 90%;
	margin: 10px auto auto auto;
}

td.container {
	width: 70%;
}

td.sidebar {
	width: 30%;
	vertical-align: top;
	background-color: #DDEEF6;
	border-left: 1px solid rgb(192, 222, 237);
	
	-moz-border-radius:6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius:6px;
}