<% title "I Just Wanna Say..." %>

<%= render :partial => 'form' %>

<p/>
<!--
<ol>
	<% for speech in @speeches %>
	<li><%= link_to speech.text, speech %><span><%=h speech.created_date %></span></li>
	<% end %>
</ol>
-->
